<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; RAWT - Process Monitor 2021</div>
      
        </div>
    </div>
</footer>
</body>

<script src="/js/dataTables.bootstrap4.min.js"></script>
<script src="/js/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<!--   <script src="/js/jquery.min.js"></script> 
 <script src="/js/popper.min.js" crossorigin="anonymous"></script>  -->
<script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>