<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>MPA - MONITORADOR DE PROCESSOS E ATIVIDADES</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link rel="icon" href="/img/favicon.ico">
    <script src="/js/all.min.js"></script>
    <link rel="stylesheet" href="/css/material-design-iconic-font.css">

</head>