<%- include ('../partials/header.ejs')%>
    <link rel="stylesheet" href="/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/css/shared/style.css">
    <link rel="stylesheet" href="/assets/css/demo_1/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <%- include ('../partials/navbar.ejs')%>

        <div id="layoutSidenav_content">
            <main>
                <div id="container-fluid" class="container-fluid">

                    <h1 class="mt-3 display-6">Dashboard Geral</h1>

                    <div class="row page-title-header">
                        <div class="page-header mb-1 mt-0">
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="page-header-toolbar">


                                <input id="anythingSearch" type="search" id="form1"
                                    class=" ml-auto form-control  input-group-sm" placeholder="Procurar..."
                                    style="width: 20%; height:29px" />

                                <button type="button" class="ml-1 btn btn-dark">
                                    Filtros <i class="fas fa-search"></i>
                                </button>

                            </div>
                        </div>
                    </div>

                    <div id="myDIV" class="row">

                        <div id="div" class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar mr-1"></i>
                                </div>
                                <h1 class="text-center">1</h1>
                                <div class="card-footer text-center mt-2">
                                </div>
                            </div>
                        </div>


                        <div id="div1" class="col-xl-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar mr-1"></i>
                                </div>
                                <h1 class="text-center">2</h1>
                                <div class="card-footer text-center mt-2">
                                </div>
                            </div>
                        </div>
                    
                    </div>
            </main>

            <%- include ('../partials/footer.ejs')%>
        </div>

        </html>

        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <script src="/js/socket.io.js"></script>
        <script src="/js/moment.min.js"></script>
     

        <script>
            $(document).ready(function () {
                $("#anythingSearch").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $(".col-xl-6").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });

           document.getElementById("anythingSearch").addEventListener("search", function (event) {
                var value = $(this).val().toLowerCase();
                    $(".col-xl-6").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
            }); 

        </script>