<%- include ('../partials/header.ejs')%>
    <%- include ('../partials/navbar.ejs')%>

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Dashboard Geral</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                    <div class="row">
                        <div class="col-xl-4">
                            <div   class="card text-white mb-4 ">
                                <div class="card-header  text-center" style="color: black;">
                                    Header
                                </div>
                                <div class="card-body">Primary Card</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                            <div class="col-xl-4">
                            <div class="card text-white mb-4">
                                <div class="card-header text-center" style="color: black;">
                                    Header
                                </div>
                                <div class="card-body">Primary Card</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="card text-white mb-4">
                                <div class="card-header text-center" style="color: black;">
                                    Header
                                </div>
                                <div class="card-body">Primary Card</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                 
                     
                    </div>
              
                </div>
            </main>
           
   
        <%- include ('../partials/footer.ejs')%>

            </html>