
/* Buttons */
.btn-sm  {
  font-size: 0.875rem;
  line-height: 1;
  font-family: "roboto", sans-serif; }
 
.btn-group	 {
  border: 1px solid #dee2e6;
  border-radius: 0.1875rem; }
  .btn-group .btn {
    border-top: none;
    border-bottom: none;
    border-left: none; }
    .btn-group .btn:last-child {
      border-right: none; }
    .btn-group .btn.btn-primary {
      border-color: #128ff2; }
    .btn-group .btn.btn-secondary {
      border-color: #d3dce5; }
    .btn-group .btn.btn-info {
      border-color: #7e55dd; }
    .btn-group .btn.btn-warning {
      border-color: #f0a500; }
    .btn-group .btn.btn-success {
      border-color: #17ca8c; }
    .btn-group .btn.btn-danger {
      border-color: #ff5449; }
    .btn-group .btn.btn-dark {
      border-color: #20263c; }
    .btn-group .btn.btn-light {
      border-color: #f3f3f3; }


