<%- include ('../partials/header.ejs')%>
    <link rel="stylesheet" href="/css/shared/style2.css">
    <%- include ('../partials/navbar.ejs')%>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Criar Administrador</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="/admin">Admin</a></li>
                        <li class="breadcrumb-item active">Criar</li>
                    </ol>
                    <div class="card">
                        <div class="card-body">

                            <form action="/admin/criar" method="POST">
                                <div class="form-group">
                                    <h5 class="card-title">Cadastro de Administrador</h5>

                                    <label class="mt-1">Nome do Administrador</label><text style="color: red;"> *</text>
                                    <input type="login" class="form-control" name="inputAdministrator" placeholder="Digite o nome do administrador" required>

                                    <label class='mt-3'>Login</label><text style="color: red;"> *</text>
                                    <input type="login" class="form-control" name="inputLogin" placeholder="Digite o login" required>

                                    <label class="mt-3">Senha</label><text style="color: red;"> *</text>
                                    <input type="password" class="form-control" name="inputPassword" placeholder="Digite uma senha" minlength="6" required>
                                </div>
                                <button type="submit" class="btn btn-dark mt-1">Cadastrar</button>
                            </form>


                            <% if(statusCode==201){%>
                                <div class="alert alert-success mt-3" role="alert">
                                    Cadastrado com sucesso!
                                </div>
                                <% } %>
                                    <% if(statusCode==406){%>
                                        <div class="alert alert-danger mt-3" role="alert">
                                            Erro: Login já cadastrado no sistema.
                                        </div>
                                        <% } %>
                        </div>
                    </div>
                </div>
            </main>
            <%- include ('../partials/footer.ejs')%>

                </html>